
include AUTHORS.rst


include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *.py
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

# we only want "release" artifacts, not "debug" artifacts
# update this path if you move the rust folder
recursive-include */rust/target/release *.so *.dylib *.dll *.lib
# also don't end the path with a "/"

recursive-include * *.h

# This should help with the sdist
recursive-include *  *.c *.rs *.toml

recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
