
include AUTHORS.rst

include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests/ *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

# we only want "release" artifacts, not "debug" artifacts
recursive-include rust_pypi_example/rust/target/release *.so *.dylib *.dll *.lib
recursive-include rust_pypi_example *.h *.c

# inclusing the .rs and .toml files isn't necessary so feel free to remove them. 
# This may help if a source dist is needed.
#recursive-include rust_pypi_example *.rs *.toml 